<!DOCTYPE html>

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="app.component.css">
  
</head>

<body>
  <header>
    <h1>{{ title }}</h1>

      <section>
        <h2 for="addItemInput">Let's get some stuff done!</h2>
          <section>
            <input
              #newItem
              placeholder="What would you like to do next?"
              (keyup.enter)="addItem(newItem.value); newItem.value = ''"
              class="lg-text-input"
              id="addItemInput"
            />
          </section>
        
        <button class="btn-primary" (click)="addItem(newItem.value)">Add it!</button>
      </section>
  </header>

  <main>
    <section class="btn-wrapper">
      <button
        class="btn btn-menu"
        [class.active]="filter == 'all'"
        (click)="filter = 'all'">
        All
      </button>
  
      <button
        class="btn btn-menu"
        [class.active]="filter == 'active'"
        (click)="filter = 'active'">
        To Do
      </button>
  
      <button
        class="btn btn-menu"
        [class.active]="filter == 'complete'"
        (click)="filter = 'complete'">
        Done
      </button>
    </section>

    <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
      <ng-template #elseBlock>to do list items</ng-template></h2>
      
      <ul>
        <li *ngFor="let item of items">
          <app-item (remove)="remove(item)" [item]="item"></app-item>
        </li>
      </ul>
  </main>
  

</body>

<router-outlet></router-outlet>